:root{
    --background-color:aliceblue;
    --navbar-background-color:rgb(23, 74, 124);
    --fab-options-background-color:rgb(161, 201, 234);
    --fab-icon-background-color: rgb(170, 79, 79);
    --default-text-color: white;
    --text-color:black;
}
body{
    background-color: var(--background-color);
    color:var(--default-text-color);
    padding: 0px;
    margin: 0px;
}
header{
    width: 100%;
    background-color: var(--navbar-background-color);
    margin:0px;
    font-weight:700;
    padding:10px 0px;
    font-size:2rem;
    text-align: center;
    letter-spacing:5px;
}
h3{
    width: fit-content;
    padding: 10px;
    margin:10px;
    border-radius:15px;
    background-color: var(--navbar-background-color);
}
h4{
    width: fit-content;
    background-color: var(--navbar-background-color);
    color: var(--default-text-color);
    border-radius:15px;
    padding: 10px;
    margin:10px;
}
.facts {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.facts img{
    height:65%;
    width:100px;
    border-radius:15px;
    padding: 10px;
    margin:10px;
    float:left;
    background-color: var(--background-color);
}
.comp{
    background-color: var(--navbar-background-color);
    width:25rem;
    height:14.5vh;
    margin:10px;
    border-radius:20px;
    text-decoration: none;
    overflow:hidden;
}
.read{
    position:fixed;
    right:10px;
    bottom:5px;
    opacity: 0;
    background-color: var(--background-color);
    color: var(--navbar-background-color);
    border-radius:5px;
    padding:5px;
    font-weight:bold;
    font-size:1.3rem;
    transition:all 0.3s;
}
.comp:hover span{
    opacity:1;
    font-size:0.9rem;
}
.comp:hover{
    font-size:0.9rem;
}
.comp h4{
    padding:10px 5px;
    margin:0px;
    font-weight:normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#white{
    text-align:center;
    font-size:3rem;
}
p{
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px grey;
    margin:0px 0px 0px 10px;
}
.bottom{
    background-color: var(--navbar-background-color);
    text-decoration: none;
    text-align:center;
    align-items: center;
    margin:0;
}
.bottom p{
    font-weight: bold;
    text-decoration: none;
    box-shadow:0 0 0 0;
}
.bottom h6{
    margin:0;
}
.bottom img{
    width: 100px;
    height: 100px;
    margin:5px;
    border-radius: 50%;
}
.fab-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    cursor: pointer;
}
.fab-icon-holder {
    width: 50px;
    height: 50px;
    border-radius:15px;
    background: var(--fab-options-background-color);
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.fab-icon-holder:hover{
    opacity: 0.8;
}
.fab-icon-holder i {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    font-size:1.1rem;
}
.fab {
    width:60px;
    height: 60px;
    background: var(--fab-icon-background-color);
}
.fab-label a{
    color: var(--text-color);
    font-size:18px;
}
.fab-label a:visited{
    color: var(--text-color);
}
.fab-label a:hover{
    text-decoration: none;
}
.fab-options {
    /* list-style-type: none; */
    /* display: flex; */
    /* flex-direction:column; */
    position:absolute;
    right:-10px;
    bottom:-20px;
    opacity: 0;
    background: var(--fab-options-background-color);
    border-radius:25px 25px 0px 25px;
    padding:10px;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin:90% bottom;
}
.fab:hover + .fab-options ,.fab-options:hover{
    opacity: 1;
    transform:scale(1);
}
.fab-options li {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}
.fab-icon-holder:hover{
    transform:scale(1.1);
}
.fab-label {
    padding:5px;
    align-self: center;
    user-select: none;
    white-space: nowrap;
    border-radius: 5px;
    display: block;
    font-size: 18px;
    height:40px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width:fit-content;
    height: max-content;
    margin: 10px;
    /* font-weight:bolder; */
    /* color:black; */
}
.fa{
    color: var(--text-color);
}
.fa-th-large{
    color:var(--default-text-color);
}
.fab-icon-holder a{
    text-decoration:none;
    text-align: center;
    text-transform: capitalize;
    width: 50px;
    height: 50px;
    border-radius:20px;
    font-weight:bolder;
    /* border:0px solid var(--text-color); */
}
@media (max-width:426px){
    h3,h4{
        max-width:100%;
        font-size:1.2rem;
    }
    p{
        max-width:100%;
        font-size:1.2rem;
    }
    /* .links{
        display:block;
        align-items:center;
    }
    a{
        display:block;
    } */
    .images .img{
        display:flex;
        align-items:center;
    }
    .images{
        display:block;
    }
    img{
        padding:10px;
        margin:10px;
    }
    .bottom p{
        font-size:1.2rem;
    }
    header{
        font-size:1.8rem;
    }
    .comp h4{
        font-size:0.85em;
    }
}