*{
    margin:0px;
    padding:0px;
    font-family:bree serif;
}
body{
    background-color:aliceblue;
    border-radius:10px;
    padding:0px;
    margin: 0px;
    max-width:100%;
    display:flex;
}
header{
    color:white;
    background-color:rgb(23, 74, 124);
    font-size: 35px;
    text-align: center;
    padding:10px;
    width:min-content;
    font-family:Copperplate Gothic;
    font-weight:bold;
    transform:translate(20);
    transition:all 1s;
}
img{
    background-color:white;
    border:4px solid rgb(23, 74, 124);
    width: 200px;
    height: 250px;
    margin-right:0px;
    border-radius: 30px;
    transform:rotate(360deg);
    transition:all 1s;
}
.founder{
    font-weight: 400;
    font-size: 20px;
    display: flex;
    padding: 10px;
    margin: 10px;
    align-items:center;
}
.founder li{
    padding:15px;
    list-style:none;
}
.share{
    width:80%;
    max-width:600px;
    min-width:300px;
    margin:20px auto;
    transform:translate(10);
}
h2{
    text-align: center;
}
.jss33{
    color:rgb(23, 74,124);
    display: inline-flex;
    padding: 0 5px;
    font-size:1rem;
    transform: translate(25px,50%);
    font-weight: 600;
    background-color:aliceblue;
}
.jss31 {
    color: #212121;
    border: 4px solid rgb(23, 74, 124);
    transition: border 0.2s ease-in-out;
    font-weight: 500;
}
.form-input, .form-message {
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 1.3rem;
    outline: none;
    padding: 0.7rem;
    resize: none;
    width: 100%;
}
.form-input {
    height: 50px;
}
.jss32 {
    border: 4px solid rgb(23, 74, 124);
    transition: border 0.2s ease-in-out;
    font-weight: 500;
}
.form-message {
    height: 150px;
}
button{
    width:100px;
    height:40px;
    border-radius:30px;
    border:none;
    color:aliceblue;
    background-color:rgb(23, 74, 124);
    font-size:1.2rem;
}
button:hover{
    background-color:green;
    transform: scale(1.2);
}
.flex_container{
    padding:15px;
    margin:10px;
    width:50px;
    background-color: rgb(23, 74, 124);
    border-radius:20px;
}
.flex_container ul {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style:none;
  }
  .flex_container ul li i{
    font-size:3rem;
    color:aliceblue;
    margin:30px 0px;
    transition:all 0.3s ease-in-out;
  }
  .flex_container ul li i:hover{
    transform:translateY(-10px);
  }
@media (max-width:769px){
    body{
        display:block;
    }
    .flex_container{
        width:100%;
        padding:0px;
        margin:0px;
        border-radius:50px 0px;
    }
    .flex_container ul{
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
    }
    .flex_container ul li i{
        margin:10px 0px;
    }
    header{
        width:100%;
        padding:0px;
        margin:0px;
    }
    .founder{
        max-width:100%;
        justify-content: center;
    }
    img{
        max-width:250px;
        border-radius:30px;
        border: 0px solid black;
        box-shadow:5px 5px 5px gray;
    }
    li{
        padding-top:10px ;
        transition:all 1s;
        transform:translate(20);
    }
    .share{
        max-width:100%;
        align-items:center;
    }
}